$desktop-width: 780px;

$copy-black: #202020;
$nav-grey: #383838;
$nav-border-grey: #797979;

$word-light-blue: #77D3E7;
$word-dark-blue: #87AFDF;
$word-purple: #A28ADE;
$word-pink: #C376DF;

.centered-content {
	margin-left: auto;
	margin-right: auto;
}
