.form-item {
	@include css3-prefix(border-radius, 3px);
	border:1px solid $copy-black;
	&:focus {
		outline: none;
	}
}

.form-input {
	-webkit-appearance: none;
	@extend .form-item;

	padding: 8px 10px;

	&:focus {
		@extend .focus-shadow;
		background-color: #e6e6e6;
	}
}

.form-error {
	color: $word-purple;
	font-weight: 700;
	display: none;
}

.form-success {
	color: $word-dark-blue;
}

div.form-input-group {
	@extend .content-shadow;
	margin-bottom: 12px;

	.form-input {
		width: 100%;
	}
}

.form-submit {
	background-color: transparent;
	border: none;
	padding: 0;
	text-decoration: underline;
	font-weight: 700;
	position: relative;
    overflow: hidden;
    cursor: pointer;
	&:focus {
		outline: none;
	}
	input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    min-width: 100%;
	    min-height: 100%;
	    font-size: 100px;
	    text-align: right;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    outline: none;
	    background: white;
	    cursor: inherit;
	    display: block;
	}
}