.header-wrapper {
  height: 205px;
  overflow: hidden;
  background-image: url(img/header-texture.jpg);
  background-repeat: none;
  background-size: cover;

  @include desktop {
    height: 260px;
  }
  
  &.with-inspiration {
    height: auto;
  }
}

header {
  height: 100%;
  background-size: cover;
  color: white;
  text-align: center;

  img {
    margin-top: 10px;
    width: 90%;
    max-width: 398px;

    @include desktop {
      margin-top: 45px;
    }
  }
}