.inspiration {
  width: 80%;
  height: 170px;
  margin: 20px auto;

  @include desktop {
    height: 100px;
    margin: 40px auto;
  }
}

.row {
  margin: 0;

  @include desktop {
    float: left;
    width: 50%;
  }

  &:nth-of-type(1) {
    .word:nth-of-type(1) {
      // .front {
      //   background: $word-light-blue;
      // }
      // .back {
      //   background: $word-dark-blue;
      // }
      border-radius: 5px 0px 0px 0px;
      @include desktop {
        border-radius: 5px 0px 0px 5px;
      }
    }

    .word:nth-of-type(2) {
      // .front {
      //   background: $word-dark-blue;
      // }
      // .back {
      //   background: $word-purple;
      // }
      border-radius: 0px 5px 0px 0px;
      @include desktop {
        border-radius: 0px;
      }
    }
  }

  &:nth-of-type(2) {
    .word:nth-of-type(1) {
      // .front {
      //   background: $word-purple;
      // }
      // .back {
      //   background: $word-pink;
      // }
      border-radius: 0px 0px 0px 5px;
      @include desktop {
        border-radius: 0px;
      }
    }

    .word:nth-of-type(2) {
      // .front {
      //   background: $word-pink;
      // }
      // .back {
      //   background: $word-light-blue;
      // }
      border-radius: 0px 0px 5px 0px;
      @include desktop {
        border-radius: 0px 5px 5px 0px;
      }
    }
  }

  .word {
    width: 50%;
    height: 85px;
    float: left;
    overflow: hidden;

    .front, .back {
      width: 100%;
      height: 100%;
      background-position: 50% 50%;
      -webkit-transition: background-position none !important;
      transition: background-position none !important;

      &.colour-0 {
        background: $word-light-blue;
      }
      &.colour-1 {
        background: $word-dark-blue;
      }
      &.colour-2 {
        background: $word-purple;
      }
      &.colour-3 {
        background: $word-pink;
      }
    }

    @include desktop {
      // height: 190px;
    }  
  }
}