.share {
	@extend .centered-content;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 700px;

	h3 {
		margin-top: 40px;
		margin-bottom: 30px;
	}

	p {
		@extend .centered-content;
		max-width: 600px;
		margin-bottom: 20px;
	}

	div.share-form-title {
		@extend .centered-content;
		max-width: 700px;
		margin-bottom: 8px;

		div.title-group {
			@extend .content-shadow;
			width: 23.5%;
			margin-right: 1%;
			margin-bottom: 12px;
			&:last-child {
				margin-right: 0;
			}
			button.title-button {
				width: 100%;
				@extend .form-item;
				text-align: left;
				span {
					right: 0;
				}
			}
			ul.title-dropdown {
				min-width: 0;
				width: 100%;
				@extend .form-item;
				li.title-option a{
					text-decoration: none;
				}
			}
		}
	}

	div.share-form-content {
		@extend .centered-content;
		max-width: 600px;
		input.form-input {
			@extend .content-shadow;
			margin-bottom: 12px;

			width: 100%;
		}
		input.form-submit {
			background-color: transparent;
			border: none;
			padding: 0;
			text-decoration: underline;
			font-weight: 700;
		}
		hr {
			margin-top: 16px;
		}
	}
}