@import url(http://fonts.googleapis.com/css?family=Cardo:400,700);

$cardo: 'Cardo', sans-serif;

body {
	font-family: $cardo;
 	color: $copy-black;
}

a {
  color: $copy-black;
  text-decoration: underline;
  font-weight: 700;
  
  &:hover {
    color: $copy-black;
  }
}

hr {
  border-top: 1px solid $copy-black;
}

h3 {
	margin-top: 40px;
	margin-bottom: 30px;
}

.link-with-icon {
  text-decoration: none;
  span {
    margin-right: 3px;
    text-decoration: underline;
  }
}