@import url(http://fonts.googleapis.com/css?family=Cardo:400,700);

$cardo: 'Cardo', sans-serif;

body {
	font-family: $cardo;
 	color: $copy-black;
}

a {
  color: $copy-black;
  text-decoration: underline;
  
  &:hover {
    color: $copy-black;
  }
}

hr {
  border-top: 1px solid $copy-black;
}