<template name="about">
	<section id="about" class="about">

		<div class="about-heading">
			<h3 class="title">About the project</h3>
			<hr/>
			<div class="about-logos">
				<img class="left-logo about-logo" src="img/great-initiative-logo.png" alt="Great Initiative">
				<img class="centre-logo about-logo" src="img/ampersand.png" alt="ampersand">
				<img class="right-logo about-logo" src="img/portmanteau-logo.png" alt="portmanteau">
			</div>
			<hr/>
		</div>

		<div class="about-content">
			{{{about}}}
		</div>

		<div class="about-links">
			<p>
				<a href="/share" class="link-with-icon">
					<span>Share Your Experiences</span>
					<i class="fa fa-camera"></i>
			        <i class="fa fa-video-camera"></i>
			        <i class="fa fa-pencil"></i>
				</a>
			</p>
			<p><a href="mailto:boxedinproject@gmail.com?Subject=Hello" target="_top">Contact us about the project</a></p>
		</div>
	</section>	
</template>

