<template name="about">
	<section id="about" class="about">
		<h3 class="title">About the project</h3>
		<hr/>
		<hr/>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae ullamcorper ipsum. Ut placerat, enim et semper lacinia, nisl tortor convallis quam, eu gravida velit justo in arcu. Integer mattis, nisi aliquet facilisis tempor, nunc dui pellentesque justo, sed ullamcorper urna arcu quis leo. Pellentesque scelerisque ut magna in iaculis. Vestibulum fringilla porttitor nisi ut placerat. Sed fermentum nisi a ipsum varius, id viverra dui aliquam. Mauris molestie eros eu nisi pellentesque, ut finibus nisi fermentum. Curabitur eros mauris, bibendum ac varius sed, gravida fermentum ipsum. Pellentesque sit amet leo sit amet ligula imperdiet luctus. Nunc nec scelerisque est, quis imperdiet diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus tempor suscipit nibh, eu blandit quam pulvinar a. Fusce mattis justo a metus imperdiet scelerisque.</p>

		<p>Nullam nec lacus id tortor pellentesque varius. Duis volutpat, felis sed rhoncus ultrices, nulla mi ultricies nunc, ac aliquam nunc turpis sit amet nisl. Proin condimentum purus ac turpis ullamcorper, sit amet dapibus magna euismod. Vivamus imperdiet ipsum mattis risus accumsan dapibus. Ut gravida eget tortor quis gravida. Pellentesque mauris libero, pharetra at tortor ac, ultricies rutrum libero. Ut eu facilisis nibh, in condimentum velit. Morbi mollis risus non mattis congue. Quisque sit amet molestie erat.</p>
	</section>	

	{{> aboutFooter}}

</template>

<template name="aboutFooter">
	<section id="about-footer" class="about-footer footer">
		<p><a href="/share">Share Your Experiences</a></p>
		<p><a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Contact us about the project</a></p>
	</section>	
</template>

