<template name="adminPosts">
	<section id="admin-posts" class="admin-posts">
		<h3 class="title">Posts Admin</h3>
      <div class="container-fluid">
        <div id="posts-grid" class="posts-grid">
          {{#each posts}}
            {{> adminPostsPost}}
          {{/each}} 
        </div>
      </div>
  </section>
</template>

<template name="adminPostsPost">
  <div class="post">

    <img src="{{ imageThumb }}" alt="">
    <h4><a href="#" class="title">{{ title }}</a></h4>
    <p>{{ experience }}</p>
    <p>
      <a href="{{ link }}" class="link">
        {{ link }}
      </a>
    </p>
    <p>{{ name }}</p>
    <p>
      <a href="https://twitter.com/{{ twitterHandle }}">
        {{ twitterHandle }}
      </a>
    </p>

    <hr/>

    <form id="admin-post-form">
      <div id="admin-post-form-moderation">
        <p>Moderate: 
          <label><input type="radio" name="moderation" value="1" {{isApproved moderated}}> approved</label>
          <label><input type="radio" name="moderation" value="2" {{isRejected moderated}}> rejected</label>
        </p> 
      </div>
      <div id="admin-post-form-promotion">
        <p>Promote: 
          <label><input type="checkbox" name="promotion" {{isPromoted promoted}} {{isPromotionDisabled moderated}}> promoted</label>
        </p> 
      </div>
    </form>

  </div>

</template>