<template name="posts">

  <h3 class="title">Other people's experiences</h3>


  <div id="posts-grid" class="posts-grid">
    {{#each posts}}
      {{> postsPost}}
    {{/each}} 
  </div> 

  {{> postsFooter}}

</template>

<template name="postsPost">

  <div class="post">
    <img src="{{ imageThumb }}" alt="">
    <h4><a href="#" class="title">{{ title }}</a></h4>
    <div class="truncate">
      <p>{{ experience }}</p>
    </div>
    <p>
      <a href="{{ link }}" class="link">
        {{ link }}
      </a>
    </p>
    <p>{{ name }}</p>
    <p>
      <a href="https://twitter.com/{{ twitterHandle }}">
        {{ twitterHandle }}
      </a>
    </p>
  </div>

</template>