<template name="inspiration">
  <section class="inspiration">
    <div class="row">
      <div class="word">
        <div class="front colour-0"></div>
        <div class="back colour-1"></div>
      </div>
      <div class="word">
        <div class="front colour-1"></div>
        <div class="back colour-2"></div>
      </div>
    </div>
    <div class="row">
      <div class="word">
        <div class="front colour-2"></div>
        <div class="back colour-3"></div>
      </div>
      <div class="word">
        <div class="front colour-3"></div>
        <div class="back colour-0"></div>
      </div>
    </div>
  </section>
</template>