<template name="navigation">
  <div class="nav-wrapper">
    <div id="toggleNav" class="toggleNav" >Menu</div>
    <nav id="navigation" class="navigation" role="navigation">
      <a href="/">Gender Experiences</a>
      <span class="divider">/</span>
      <a href="/about">About Boxed In</a>
      <span class="divider">/</span>
      <a href="/share">Share Your Experiences
        <i class="fa fa-camera"></i>
        <i class="fa fa-video-camera"></i>
        <i class="fa fa-pencil"></i>
      </a>
    </nav>
  </div>
</template>